# LLM
OPENAI_API_KEY=FAKE
OPENAI_BASE_URL=http://localhost:2345
OPENAI_MODEL=gpt-4.1-mini

# Neo4j
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=neo4jpassword

# Hosting this app
APP_HOST=0.0.0.0
APP_PORT=8080

# MCP
MCP_SERVER_URL=http://neo4j-mcp-server:8000/mcp
NEO4J_MCP_SERVER_IMAGE=mcp/neo4j:latest

# Checkpointing
CHECKPOINTER_TYPE=memory
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=my_agent

# GTD Import
GTD_CSV_PATH=/home/steve/Downloads/gtd.csv
