# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/

# IDE
.idea/

# Testing
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Type checking
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Environment variables
.env

.aiassistant

uv.lock